#root {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.game-title {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 54px;
    color: #4c6986;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
}

.container {
  position: relative;
  width: 305px;
  padding: 20px 30px;
  border: 1px solid #B7E5EE;
  margin-bottom: 50px;
  -webkit-box-shadow: -2px 35px 208px -29px rgba(183,229,238,1);
-moz-box-shadow: -2px 35px 208px -29px rgba(183,229,238,1);
box-shadow: -2px 35px 208px -29px rgba(183,229,238,1);
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:hsla(0,0%,100%,.95);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
}
.modal.win {
  opacity: 1!important;
  z-index: 5!important;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.modal .win-img {
  width: 35%;
}

.modal .win-msg {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 30px;
  color: #4c6986;
  padding-top: 30px;
}

.modal .restart-game {
  display: block;
  clear: both;
  margin-top: 20px;
  color: #4c6986;
  font-size: 20px;
  font-family: Open Sans;
  border: 2px solid #4c6986;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
}
.modal .restart-game:hover {
  background-color: #4c6986;
  color: white;
}

.container .settings-buttons {
  background-color: #fff;
  text-decoration: none;
  box-shadow: none;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  border-color: #B7E5EE;
  right: -50px;
}

.settings-buttons.undo{
  top: -1px;
}

.settings-buttons.reset-game{
  top: 49px;
}

.settings-buttons.disabled {
  background-color: #456585;
  cursor: not-allowed;
}

.turn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.turn-header .player-turn {
    color: #989898;
    border-bottom: 5px solid #eee;
    stroke: #989898;
}

.play-turn-1,
.player-turn {
	padding-bottom: 10px;
	font-family: Open Sans;
	font-size: 20px;
	width: 50%
}

.play-turn-1 {
	color: #3A98D4;
	border-bottom: 5px solid #3A98D4;
	stroke: #3A98D4;
}

.symbol-feedback {
  margin: 0 10px 0 10px; 
}

.x-symbol {
	color: #3A98D4;
	stroke: #3A98D4;
}
.o-symbol {
	color: #79CADC;
	stroke: #79CADC;
}

.play-turn-2 {
	padding-bottom: 10px;
	color: #79CADC;
	font-family: Open Sans;
	font-size: 20px;
	width: 50%;
	border-bottom: 5px solid #79CADC;
	stroke: #79CADC
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 305px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.row button {
  border: 0;
  color: transparent;
}

.row .square {
  font-size: 30px;
  background-color: #fff;
  box-shadow: none;
  width: 100px;
  height: 100px;
  outline: none;
  cursor: pointer;
}

.row .square:focus {
	outline: none
}

.square .img {
  width: 50%;
  opacity: 0;
  display: block;
  margin: 0 auto;
}

.square .hide {
  display: none;
}

.square .appear {
  display: block!important;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-transition: width .2s,opacity .2s;
  -webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,.1));
}

.row:not(:last-child) button:not(:last-child) {
  border-right: 1px solid #c9e1f4;
  border-bottom: 1px solid #c9e1f4;
  border-left: none;
  border-top: none;
}

.row:not(:last-child) button:last-child {
  border-right: none;
  border-bottom: 1px solid #c9e1f4;
  border-left: none;
  border-top: none;
}

.row:last-child button:not(:last-child) {
  border-right: 1px solid #c9e1f4;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.square .svg-img {
  stroke-width: 15px;
  stroke-linecap: round;
}

.draw,
.draw1 {
	-webkit-animation: dash 1s linear forwards;
	animation: dash 1s linear forwards
}

.draw1 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0
	}
}

@-webkit-keyframes delay {
	50% {
		stroke-dashoffset: 0
	}
}

@keyframes delay {
	50% {
		stroke-dashoffset: 0
	}
}